language: php
sudo: false

php:
    - 7.2

cache:
    directories:
        - $HOME/.composer/cache

before_install:
    - pecl install -f mongo
    - echo "extension=mongo.so" >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini
    - phpenv config-rm xdebug.ini || true
    - phpenv rehash
    - composer self-update

install:
    - composer install

script:
    - ./vendor/bin/phpunit
